NEXT_PUBLIC_SITE_URL=https://www.glorybeautysalon.ca
NEXT_PUBLIC_SQUARE_BOOKING_URL=
NEXT_PUBLIC_CONTACT_EMAIL=
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2026-07-21
PRIVATE_SITE_USERNAME=
PRIVATE_SITE_PASSWORD=
